@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 248, 248, 246;
  --background-end-rgb: 248, 248, 246;
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  font-family: var(--font-noto-serif);
}

@font-face {
  font-family: 'Mirage Thin';
  src: url('made-mirage.thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Malta Mini Thin';
  src: url('tbj-malta-mini-edition.thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

.heading {
  font-family: 'Mirage Thin', sans-serif;
  font-weight: 100; /* Display Thin */
}

.body-text {
  font-weight: 300; /* Extralight */
}

.header-text {
  font-weight: 100;
}

.nav-link {
  position: relative;
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: -2px;
  left: 0;
  background-color: currentColor;
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}

.switch-button {
  transition: all 0.3s ease;
}

.switch-option {
  transition: all 0.3s ease;
}

.project-card {
  transition: transform 0.3s ease;
}

.project-card:hover {
  transform: translateY(-5px);
}

.scroll-arrow {
  animation: bounce 2s infinite;
}

.personalized-footer {
  background-color: rgba(0, 79, 45, .25);
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

